*{
    margin: 0;
    padding: 0;
}

/*NavBar start*/
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand h1{
    font-size: 35px;
    font-family: 'Poppins';
    color: #024624;
    padding-left: 30px;
    text-shadow: 0 0 15px #00ff7f;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
.navbar-nav li a:hover{
    color: #024624 !important;
}
.navbar{
    /*background: #efefef;*/
    background: #fff;
}
.navbar-toggler{
    border: none !important;
}
.nav-link{
    color: #555 !important;
    font-weight: 600;
    font-size: 16px;
}
/*NavBar end*/

/* Slider start*/
#slider{
    width: 100%;   
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    bottom: initial !important;
}
.carousel-caption h5{
    color: #fff;
    font-size: 42px;
}
/* Slider end*/

/* About start*/
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#about .btn{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content{
    padding-top: 20px;
}
.skills-bar p{
    margin-top: 6px;
    font-weight: 600;
}
.progress-bar{
    border-radius: 16px;
}
.progress{
    border-radius: 16px !important;
    margin-bottom: 20px;
}
/* About start*/

/* animal start */
#animal{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/8.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#animal h1{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
    position: sticky;
}
#animal h1::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.animals{
    margin-top: 40px;
}
.icon a{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    color: #fff;
    /*border: 1px solid #fff;
    border-radius: 50%;*/
}
.icon a:hover{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    color: #807e7e;
}
#animal p{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
/*.col-md-3 a{
    text-decoration: none;
    color: #fff;
}
.col-md-3 a:hover{
    text-decoration: none;
    color: #35fb04;
}
.col-md-3{
    margin-left: 5%;
    margin-right: 2%;
}*/

/* animal start */

/* Our pet start */
#ourpet{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
#ourpet h1{
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}
#ourpet h1::after{
    content: '';
    background: #024624;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.profile-pic{
    margin-top: 25px;
}
.profile-pic .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
.profile-pic .img-box img{
    filter: grayscale(1);
}
.profile-pic .img-box img:hover{
    filter: grayscale(0);
    cursor: pointer;
}
.profile-pic h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #024624 !important; 
}
.profile-pic h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    color: lawngreen;
}

/*for icon in our pet*/
#ourpet .fa{
    height: 25px;
    width: 25px;
    color: #024624 !important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
}
.img-box ul{
    padding: 15px 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.img-box ul li{
    padding: 5px;
    display: inline-block;
}
.img-box:hover ul{
    opacity: 1;
}
.img-box ul, .img-box ul li{
    transition: 0.5s;
}
/*for icon in our pet end*/

/*gallery start*/

/*#gallery{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(images/8.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}*/

#gallery{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/8.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    padding: 100px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
#gallery h1::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
#gallery #acontact{
    color: #fff;
    text-align: center;
    padding: 100px;
}
#gallery .card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
#gallery .card1{
    background: url(images/stickw.jpg);
}
#gallery .card2{
    background: url(images/poisondfrog.jpg);
}
#gallery .card3{
    background: url(images/thornyDevilLizard.jpg);
}
#gallery .card4{
    background: url(images/aquaocto.jpg);
}
#gallery .card5{
    background: url(images/10.jpg);
}
#gallery .card6{
    background: url(images/11.jpg); 
}
#gallery .card7{
    background: url(images/plants.jpg);
}
#gallery .card:hover{
    transform: translateY(-10px);
}
#gallery .card h5{
    color: #fff;
    text-shadow: 0 0 5px #999;
}
#gallery .card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}
/*gallery end*/

/*Contact start*/
#contact{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.follow{
    background: #fff;
    padding: 10px;
    margin: 15px;
}
.contact-info .fa{
    margin: 10px;
    color: #024624;
    font-weight: bold;
}
.contact-info a{
    color: #024624;
    font-weight: bold;
    text-decoration: none;
}
.contact-info a:hover{
    color: #49f704;
    font-size: 13px;
    text-decoration: none;
}

/*if there is a contact form*/
/*.contact-form{
    padding: 15px;
}
.form-control{
    border-radius: 0 !important;
    border: none !important;
}
::placeholder{
    color: #999 !important;
}*/


/*Contact end*/

/* Footer start */
#footer{
    background: #333;
    color: #fff;
    padding: 12px;
}
.fa-heart-o{
    margin: 3px;
    color: red;
}
/* Footer end */